@media screen and (max-width: 480px){
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }
    header div{
        height: 20px;
        width: 100%;
        font-size: 1em;
        padding-top: 1px;
    }
    main {
        height: 30vh;
        margin-top: 30px;
        font-size: 2em;
        text-align: center;
        padding: 70px 60px;
    }
    .first div,.second div{
        height: 40vh;
        width: 100%;
        font-size: 2em;
      margin-top: 5px;
        text-align: center;
        padding: 5px 20px;


    }
    article{
        height: 40vh;
        width: 97%;
        justify-content: flex-end;
        align-items: center;
        display: flex;
        flex-direction: column;
       margin: 5px;

    }

}