@media screen and (max-width: 480px){
    .desktop{
        display: flex;
        width: 375px;
        padding: 32px 16px;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }
.desktop div{
    width: 343px;
    height: 332px;
}
.desktop img{
    width: 343px;
    height: 257px;
}

}