@media screen and (max-width: 600px){
    .grid{
        grid-template-columns: 2fr ;
        grid-template-rows: repeat(5,1fr) ;
        grid-template-areas:
     'header '
    'main '
    'section'
     'article'
    'footer ';
    }
}